[Desktop Entry]
Type=Application
Version=9.1
Name=Ghidra
Comment=The Ghidra Software Reverse Engineering (SRE) Suite
Path=/opt/ghidra
Exec=/opt/ghidra/ghidraRun
Icon=~/.local/share/applications/ghidra.desktop
Terminal=false
